.row {
  background-color: #fff;
}

.alert {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.rowButton {
  width: 100px;
}

.roleCheckboxesWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  label + label {
    margin-left: 0 !important;
  }
}

.divider {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}
